<h2><img
    class='flag-icon'
    src='{{flags.svg}}'
    alt='{{name}}'
    height='40px'
  />{{name}}</h2>
<ul><li><span class='property-name'>Capital: </span>{{capital}}</li><li><span
      class='property-name'
    >Population: </span>{{population}}</li><li><span
      class='property-name'
    >Languages:
    </span>{{#each languages}} {{name}} {{/each}}</li></ul>